<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/normalize.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
    </head>
    <body>
    <div class="infobox">running on: <b>{{host}}:{{port}}</b></div>
    <script src="/assets/javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <div class="contentbox">{{{content}}}</div>
    </body>
</html>
